// ----------------------------------
// IMPORTS
// ----------------------------------

// BOOTSTRAP
// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Optional
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
// Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons";

// KATEX
@import "katex/dist/katex";

// JSXGRAPH
@import "jsxgraph/distrib/jsxgraph";

// PLYR
@import "plyr/dist/plyr";

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// ----------------------------------
// CONFIGURATION
// ----------------------------------

$font-size: 14px;

// ----------------------------------
// GENERAL
// ----------------------------------

body {
  font: {
    family: 'Roboto', sans-serif;
    size: $font-size;
  }

  @extend .p-3;

  &.polycop {
    @extend .py-3;
    @extend .ps-3;
    @extend .pe-1;
  }
}

// Pour créer virtuellement la 3e colonne pour le polycop
// si il n'y a pas de grid-container
body.polycop > :not(.grid-container) {
  margin-right: calc(2rem + 1px) !important; // 1px de décalage, je ne sais pas pourquoi
}

h6 {
  @extend .mt-4;
  @extend .mb-3;
}

p {
  @extend .py-1;
  @extend .m-0;
}

div, p {
  text-align: justify;
  text-justify: auto;
}

.grid-container {
  @extend .d-grid;
  grid-template-columns: auto 25px;
  column-gap: .5rem;
  overflow-x: hidden;

  & > * {
    grid-column-start: 1;
  }
}

.grid-container, .div-container {
  @extend .d-block;
}

.div-container {
  overflow-x: auto;
}

.right-column {
  @extend .p-1;
  @extend .border-start;
  @extend .border-dark-subtle;
  @extend .rounded-end;
  @extend .bg-white;
  grid-column-start: 2 !important;

  .grid-container:hover > &, &:hover {
    background-color: #f2f3f4 !important;
  }
}

// Lists
ol, ul {
  @extend .my-2;

  li {
    @extend .mb-2;
  }

  &.dropdown-menu > li {
    @extend .mb-0;
  }
}

blockquote {
  @extend .pt-3;
  @extend .px-4;
}

// Code
pre code {
  @extend .m-0;
  white-space: pre-wrap;
  font-family: 'Input Mono', 'IBM Plex Mono', monospace;
  font-size: $font-size;
}

// KaTeX
.katex-display {
  > .katex {
    max-width: 100%;
    overflow: auto;

    @include media-breakpoint-down(md) {
      > .katex-html {
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 2px;
        padding-right: 2px;
      }
     }
  }
}

// Colonnes multiples
.multicolsTWO {
  margin-top: 1rem;
  column-count: 2;
}

.multicolsTHREE {
  margin-top: 1rem;
  column-count: 3;
}

.multicolsFOUR {
  margin-top: 1rem;
  column-count: 4;
}

@include media-breakpoint-down(md) {
  .multicolsTWO {
    column-count: 1;
  }
  .multicolsTHREE {
    column-count: 2;
  }
  .multicolsFOUR {
    column-count: 2;
  }
}

// Résout les équations coupées mais les empêche de scroller
// .katex-display > .katex > .katex-html {
//   display: inline !important;
// }

// Links
a {
  @extend .text-decoration-none;
}


// ----------------------------------
// COMPONENTS
// ----------------------------------

@import "components/environnements";
@import "components/exemple";
@import "components/preuve";
@import "components/quiz";
@import "components/qcm";
@import "components/video";
@import "components/image";
@import "components/popover";
@import "components/tooltip";
@import "components/anim";
@import "components/jsxgraph";
@import "components/footer";
@import "components/exercise-tabs";
@import "components/timeline";

// ----------------------------------
// QUESTIONS
// ----------------------------------

@import "components/questions/question-right-column";
@import "components/questions/question-list-modal";
@import "components/questions/question-card";
@import "components/questions/new-question-view";
@import "components/questions/new-question-modal";
@import "components/questions/question-view";
@import "components/questions/question-modal";
@import "components/questions/back-button";
@import "components/questions/send-button";
@import "components/questions/form-toast";
