// ----------------------------------
// IMPORTS
// ----------------------------------

@import "common/imports";
@import "common/config";

// ----------------------------------
// CONFIGURATION
// ----------------------------------

$header-height: 56px;
$footer-height: 33px;
$sidebar-width: 230px;

// ----------------------------------
// LAYOUT STYLES
// ----------------------------------

@import "layout/header";
@import "layout/sidebar";
@import "layout/content";
@import "layout/footer";

// ----------------------------------
// CONTENT PAGES STYLES
// ----------------------------------

