// ----------------------------------
// IMPORTS
// ----------------------------------

@import "common/imports";

// ----------------------------------
// CONFIGURATION
// ----------------------------------

$header-height: 56px;
$footer-height: 15px;
$sidebar-width: 230px;

// ----------------------------------
// MAIN PAGE STYLES
// ----------------------------------

@import "main/navbar";
@import "main/sidebar";
@import "main/content";
@import "main/footer";

.#{$prefix}-main-body {
  @extend .mx-auto;
  max-width: 800px;
}

// ----------------------------------
// CONTENT PAGES STYLES
// ----------------------------------

