// ----------------------------------
// IMPORTS
// ----------------------------------

@import "common/imports";
@import "common/config";

// ----------------------------------
// CONFIGURATION
// ----------------------------------

$header-height: 56px;
$footer-height: 15px;
$sidebar-width: 230px;

// ----------------------------------
// MAIN PAGE STYLES
// ----------------------------------

@import "main/header";
@import "main/sidebar";
@import "main/content";
@import "main/footer";

// ----------------------------------
// CONTENT PAGES STYLES
// ----------------------------------

