// ----------------------------------
// Question view
// ----------------------------------

@import "../../utils/icon";

.question-view {

  .top-bar {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-start;
  }

  .question-link > span {
    @extend .fs-6;
    @extend .fw-medium;
    @extend .ms-1;
  }

  .question-link > a {
    @extend .text-decoration-none;
    @extend .text-dark;

    &:before {
      @include icon('\F1C5');
      @extend .ms-2;
      top: 0;
    }

    &:hover {
      @extend .text-secondary;
    }
  }

  .question-header {
    display: flex;
    @extend .align-items-center;
    @extend .justify-content-between;
  }

  .question-view-title {
    @extend .fs-6;
    @extend .fw-medium;
    @extend .mb-0;
  }

  .question-title {
    @extend .mb-1;
  }

  .question-date {
    @extend .text-secondary;
  }

  .question-icons {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .ms-2;
  }

  .question-resolved {
    @extend .d-none;
    @extend .text-success;
    @extend .fs-4;
    @extend .me-2;

    &:before {
      @include icon('\F633');
    }

    &[data-resolved="true"] {
      @extend .d-inline;
    }
  }

  .question-locked {
    @extend .d-none;
    @extend .text-secondary;
    @extend .fs-6;
    @extend .me-2;

    &:before {
      @include icon('\F47A');
    }

    &[data-locked="true"] {
      @extend .d-inline;
    }
  }

  .question-likes {
    @extend .d-inline;
    @extend .text-secondary;

    &:before {
      @include icon('\F415');
      @extend .me-1;
      @extend .fs-6;
    }

    &.clickable {
      cursor: pointer;
    }

    &.liked {
      @extend .text-danger;
    }
  }

  .question-bookmarked {
    @extend .d-inline;
    @extend .text-secondary;
    @extend .fs-6;
    @extend .me-2;
    cursor: pointer;

    &:before {
      @include icon('\F1A2');
    }

    &[data-bookmarked="true"] {
      &:before {
        @include icon('\F199');
      }
    }
  }

  .question-options-button {
    @extend .d-inline;
    @extend .text-secondary;
    @extend .fs-4;
    @extend .ms-2;
    cursor: pointer;

    &:before {
      @include icon('\F5D4');
    }
  }

  .question-body {
    @extend .mt-3;
  }

  .question-image-wrapper {
    @extend .d-flex;
    @extend .mt-2;
  }

  .question-image {
    @extend .img-fluid;
    @extend .mx-auto;
  }

  .answer {
    @extend .border-start;
    @extend .border-2;
    @extend .ps-2;
    @extend .mb-4;
    border-color: #6c757d;
  }

  .answer-footer {
    @extend .mt-1;

    .answer-likes {
      @extend .d-inline;
      @extend .text-secondary;
      //@extend .me-1 ;
      font-size: 0.8rem;

      &:before {
        @include icon('\F415');
        @extend .me-1;
      }

      &.clickable {
        cursor: pointer;
      }

      &.liked {
        @extend .text-danger;
      }
    }

    .answer-llm {
			@extend .d-inline;

			&:before {
				@include icon("\F6B1");
				@extend .ms-1;
			}
		}

    .answer-date {
      @extend .text-secondary;
      font-size: 0.8rem;
    }

    .answer-accepted[data-accepted="true"] {
      @extend .text-success;

      &:before {
        @include icon('\F633');
      }
    }

    .badge {
      vertical-align: text-bottom;
    }

    .answer-options {
      @extend .d-inline;
      @extend .text-secondary;
      cursor: pointer;

      &:before {
        @include icon('\F5D4');
        top: .2em;
      }
    }

    .dropdown-item[data-action="delete"] {
      @extend .text-danger;
    }
  }

  form {

    &:not(.edit-form) {
      @extend .mt-5;
    }

    .form-label {
      @extend .fw-medium;
    }

    .cancel-button, .save-button {
      @extend .btn;
      @extend .btn-sm;
    }

    .cancel-button {
      @extend .btn-outline-danger;

      &:before {
        @include icon('\F62A');
      }
    }

    .save-button {
      @extend .btn-outline-success;

      &:before {
        @include icon('\F525');
        @extend .me-1;
      }

      &.sending {
        &:before {
          content: '';
        }
      }
    }

    .preview {
      @extend .mb-3;

      .preview-title {
        @extend .fw-medium;
        @extend .mb-2;
      }

      .preview-body {
        @extend .d-flex;
        @extend .flex-column;
      }

      .preview-text {
        @extend .w-100;
        @extend .p-0;
      }
    }
  }

  .polycop-div-view {
    @extend .mb-4;

    .div-view-button {
      @extend .btn;
      @extend .p-0;
      @extend .d-block;
      @extend .text-start;
      @extend .fw-bold;
      @extend .text-primary;
      @extend .border-0;
      font-size: 0.75rem;

      &:before {
        @include icon('\F282'); // chevron-down
      }

      &[aria-expanded="true"]:before {
        content: '\F286'; // chevron-up
      }
    }
  }
}