// ----------------------------------
// Modal for questions
// ----------------------------------

@import "../../utils/icon";

.question-list-modal {

  .modal-body {
    @extend .py-2;
  }

  .modal-footer {
    @extend .py-2;
  }

  .content-wrapper {
    @extend .mx-auto;
    @extend .w-100;
    max-width: 1200px;
  }

  .question-list-modal-title {
    @extend .modal-title;
    @extend .fs-5;
  }

  .question-list-modal-title-badge {
    @extend .badge;
    @extend .bg-secondary;
    @extend .mx-1;
    position: relative;
    bottom: .125rem;
  }
}

.new-question-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-sm;

  &:before {
    @include icon('\F4CA');
    @extend .me-1;
  }
}