// ----------------------------------
// Question card
// ----------------------------------

.question-card {
  @extend .card;
  @extend .border-0;
  @extend .bg-body-tertiary;
  @extend .my-2;
  cursor: pointer;

  &:hover {
    @extend .bg-body-secondary;
  }

  .question-body {
    @extend .card-body;
  }

  .question-footer {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .mt-1;
  }

  .question-section-name {
    @extend .fw-medium;
    @extend .mb-1;
  }

  .question-resolved-locked {
    @extend .d-inline;
    @extend .me-2;
  }

  .question-resolved {
    @extend .d-inline;
    @extend .text-success;

    &:before {
      @include icon('\F633');
    }
  }

  .question-locked {
    @extend .d-inline;

    &:before {
      @include icon('\F47A');
      @extend .ms-1;
    }
  }

  .question-llm-answer {
    @extend .d-inline;

    &:before {
      @include icon('\F6B1');
      @extend .ms-1;
    }
  }

  .question-author-date {
    @extend .me-2;
  }

  .question-id {
    @extend .me-1;
    font-size: .8rem;
  }

  .question-author, .question-date {
    @extend .d-inline;
    @extend .px-0;
    @extend .text-secondary;
    font-size: .8rem;
  }

  .question-author {
    @extend .me-2;
  }

  .question-comments-likes {
    @extend .text-end;
    @extend .text-secondary;
  }

  .question-comments {
    @extend .d-inline;
    @extend .me-2;

    &:before {
      @include icon('\F24B');
      @extend .me-1;
    }
  }

  .question-likes {
    @extend .d-inline;

    &:before {
      @include icon('\F415');
      @extend .me-1;
    }

    &.liked {
      @extend .text-danger;
    }
  }
}

.top-bar {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;

  .sort-dropdown {
    @extend .btn;
    @extend .btn-sm;
    @extend .dropdown-toggle;
    @extend .p-0;
    @extend .ms-1;
    @extend .border-0;
    @extend .border-bottom;
    @extend .border-dark;
    @extend .rounded-0;
  }

  .refresh-button {
    @extend .ms-1;
    text-decoration: none;

    &:before {
      @include icon('\F116');
      @extend .text-secondary;
    }

    &:hover::before {
      @extend .text-dark;
    }
  }

  .website-info {
    @extend .ms-1;
    text-decoration: none;

    &:before {
      @include icon('\F505');
      @extend .text-secondary;
    }

    &:hover::before {
      @extend .text-dark;
    }
  }
}