// ----------------------------------
// Icon
// ----------------------------------

@mixin icon($icon, $icon-color: false) {
  content: $icon;
  font-family: 'bootstrap-icons';
  @if $icon-color {
    color: $icon-color;
  }
  top: .125em;
  position: relative;
}