// ----------------------------------
// CONTENT
// ----------------------------------

.#{$prefix}-content {
  @extend .row;
  @extend .g-0;
  @extend .px-0;
  @extend .w-100;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  margin-left: $sidebar-width !important;

  @include media-breakpoint-down(md) {
    & {
      max-width: none !important;
      margin-left: 0 !important;
    }
  }

  iframe {
    @extend .col;
    @extend .p-0;
    @extend .m-auto;
    @extend .border-0;
    height: calc(100dvh - $header-height);
  }

  .#{$prefix}-iframe-polycop {
    @extend .border-start;
  }

  @include media-breakpoint-down(xl) {
    .#{$prefix}-iframe-polycop {
      display: none !important;
    }
  }
}