// ----------------------------------
// CONTENT
// ----------------------------------

.#{$prefix}-content {
  @extend .row;
  @extend .g-0;
  @extend .px-0;
  @extend .w-100;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  margin-left: $sidebar-width !important;
  margin-top: $header-height;

  @include media-breakpoint-down(md) {
    & {
      max-width: none !important;
      margin-left: 0 !important;
    }
  }

  .#{$prefix}-iframe, .#{$prefix}-right-iframe {
    @extend .col;
    @extend .p-0;
    @extend .m-auto;
    @extend .border-0;
    @extend .border-end;
    height: calc(100dvh - $header-height);
  }

  @include media-breakpoint-down(xxl) {
    .#{$prefix}-right-iframe {
      display: none !important;
    }
  }
}