// ----------------------------------
// FOOTER
// ----------------------------------

.#{$prefix}-footer {
  @extend .position-absolute;
  @extend .start-0;
  @extend .bottom-0;
  @extend .w-100;
  @extend .mx-auto;
  @extend .border-top;
  height: $footer-height;
  z-index: 150;

  p {
    @extend .text-body-secondary;
    @extend .position-relative;
    @extend .p-2;
    @extend .m-0;
    font-size: .75rem;
  }
}