// ----------------------------------
// HEADER
// ----------------------------------

.#{$prefix}-navbar {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .sticky-top;
  @extend .flex-md-nowrap;
  @extend .px-3;
  height: $header-height;

  // Background color header analyse
  .#{$prefix}-analyse & {
    background-color: $analyse-header-color;
  }

  // Background color header analyse semestre
  .#{$prefix}-analyse-semestre & {
    background-color: $analyse-semestre-header-color;
  }

  // Background color header analyse online
  .#{$prefix}-analyse-online & {
    background-color: $analyse-online-header-color;
  }

  .#{$prefix}-navbar-title {
    @extend .navbar-brand;
    @extend .fs-4;
    @extend .me-0;
    @extend .px-3;
  }

  .#{$prefix}-navbar-right {
    @extend .navbar-brand;
    @extend .d-none;
    @extend .d-md-block;
    @extend .me-0;
    @extend .py-0;
  }

  .#{$prefix}-width-button {
    @extend .btn;
    @extend .btn-light;
    width: 35px;
  }

  .#{$prefix}-auth-info {
    @extend .d-inline;
    @extend .me-2;
    font-size: .9rem;
  }

  .#{$prefix}-navbar-toggler {
    @extend .navbar-toggler;
    @extend .position-absolute;
    @extend .d-md-none;
    right: 30px;
  }
}