// ----------------------------------
// HEADER
// ----------------------------------

.#{$prefix}-navbar {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .position-fixed;
  @extend .top-0;
  @extend .w-100;
  @extend .flex-md-nowrap;
  @extend .px-3;
  height: $header-height;

  // Polycop max width
  .#{$prefix}-analyse & {
    max-width: 800px;
  }

  // Background color header analyse
  .#{$prefix}-analyse & {
    //background-color: rgb(91 33 182);
    background-color: #7075c4;
  }

  .#{$prefix}-algebre-lineaire & {
    background-color: #188278;
  }

  // Background color header analyse semestre
  .#{$prefix}-analyse-semestre & {
    background-color: rgb(0, 0, 0);
  }

  // Background color header analyse online
  .#{$prefix}-analyse-online & {
    //background-color: rgb(0, 0, 0);
    background-color: #3b4d64 ;
  }


  // CMS:

  .#{$prefix}-analyse-1-CMS & {
    background-color: rgb(116,152,94); //vert forêt
  }

  .#{$prefix}-analyse-2-CMS & {
    background-color: rgb(155, 182, 136); //vert forêt plus clair
  }

  .#{$prefix}-algebre-lineaire-CMS & {
    background-color: #188278;
  }

  .#{$prefix}-geometrie-analytique-CMS & {
    background-color: #188278;
  }

  .#{$prefix}-physique-CMS & {
    background-color: #8e3291;
  }

  .#{$prefix}-ics-CMS & {
    background-color: #3772ff;
  }

  .#{$prefix}-chimie-CMS & {
    background-color: #f0c987;
  }

  .#{$prefix}-ics-CMS & {
    background-color: #188278;
  }

  .#{$prefix}-navbar-title {
    @extend .navbar-brand;
    @extend .fs-4;
    @extend .me-0;
    padding-left: 120px;
    background-image: url('../media/images/images-semestre-analyse/EPFL_Logo_WHITE_PROD.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 6px 50%;
  }

  .#{$prefix}-navbar-right {
    @extend .navbar-brand;
    @extend .d-none;
    @extend .d-md-block;
    @extend .me-0;
    @extend .py-0;
  }

  .#{$prefix}-width-button {
    @extend .btn;
    @extend .btn-light;
    width: 35px;
  }

  .#{$prefix}-auth-info {
    @extend .d-inline;
    @extend .me-3;
    font-size: .9rem;
  }

  .#{$prefix}-auth-connect-icon {
    @extend .bi-box-arrow-in-right;
  }

  .#{$prefix}-auth-user-icon {
    @extend .bi-person-square;
    cursor: pointer;
  }

  .#{$prefix}-auth-connect-icon, .#{$prefix}-auth-user-icon {
    @extend .bi;
    @extend .fs-4;
    @extend .text-white;
    top: .125em;
    position: relative;

    &:hover {
      @extend .text-white-50;
    }
  }

  .#{$prefix}-navbar-toggler {
    @extend .navbar-toggler;
    @extend .position-absolute;
    @extend .d-md-none;
    right: 1rem;
  }
}