// ----------------------------------
// HEADER
// ----------------------------------

.#{$prefix}-navbar {
  @extend .navbar;
  @extend .navbar-dark;
  @extend .position-fixed;
  @extend .top-0;
  @extend .w-100;
  @extend .flex-md-nowrap;
  @extend .px-3;
  height: $header-height;

  // Polycop max width
  .#{$prefix}-analyse & {
    max-width: 800px;
  }

  // Background color header analyse
  .#{$prefix}-analyse & {
    background-color: rgb(91 33 182);
  }

  // Background color header analyse semestre
  .#{$prefix}-analyse-semestre & {
    background-color: rgb(0, 0, 0);
  }

  // Background color header analyse online
  .#{$prefix}-analyse-online & {
    background-color: rgb(0, 0, 0);
  }

  .#{$prefix}-navbar-title {
    @extend .navbar-brand;
    @extend .fs-4;
    @extend .me-0;
    @extend .ps-1;
  }

  .#{$prefix}-navbar-right {
    @extend .navbar-brand;
    @extend .d-none;
    @extend .d-md-block;
    @extend .me-0;
    @extend .py-0;
  }

  .#{$prefix}-width-button {
    @extend .btn;
    @extend .btn-light;
    width: 35px;
  }

  .#{$prefix}-auth-info {
    @extend .d-inline;
    @extend .me-3;
    font-size: .9rem;
  }

  .#{$prefix}-auth-connect-icon {
    @extend .bi-box-arrow-in-right;
  }

  .#{$prefix}-auth-user-icon {
    @extend .bi-person-square;
    cursor: pointer;
  }

  .#{$prefix}-auth-connect-icon, .#{$prefix}-auth-user-icon {
    @extend .bi;
    @extend .fs-4;
    @extend .text-white;
    top: .125em;
    position: relative;

    &:hover {
      @extend .text-white-50;
    }
  }

  .#{$prefix}-navbar-toggler {
    @extend .navbar-toggler;
    @extend .position-absolute;
    @extend .d-md-none;
    right: 1rem;
  }
}