// ----------------------------------
// SIDEBAR
// ----------------------------------

@import "../utils/icon";

.#{$prefix}-sidebar {
  @extend .col;
  @extend .d-md-block;
  @extend .position-fixed;
  @extend .collapse;
  @extend .overflow-hidden;
  @extend .text-white;
  @extend .bg-white;
  @extend .border-start;
  @extend .border-end;
  height: calc(100dvh - $header-height);
  width: $sidebar-width;
  z-index: 100;

  &.collapsing {
    transition: none;
    -webkit-transition: none;
  }

  @include media-breakpoint-down(md) {
    & {
      max-width: none;
      width: 100%;
    }
  }
}

.#{$prefix}-sidebar-full {
  @extend .overflow-y-auto;
  height: calc(100dvh - $header-height - $footer-height);
}

.#{$prefix}-sidebar-menu {
  @extend .p-3;

  .#{$prefix}-sidebar-header {
    @extend .text-secondary;
    @extend .fw-bold;
    @extend .pb-2;
    font-size: .875rem;
    letter-spacing: -.05rem;
  }

  .#{$prefix}-sidebar-nav-section {
    @extend .p-2;
    @extend .bg-body-secondary;
    @extend .rounded;
    @extend .mb-3;
  }

  .#{$prefix}-sidebar-nav-section.section {
    background-color: #cfe2ff !important;
  }

  .#{$prefix}-sidebar-nav {
    @extend .nav;
    @extend .d-block;

    ul {
      @extend .list-unstyled;
    }
  }

  a {
    @extend .d-block;
    @extend .py-1;
    @extend .text-reset;
    @extend .text-decoration-none;
  }

  .#{$prefix}-nav-toplevel > a, .#{$prefix}-nav-link-toplevel > a {
    @extend .ps-1;
    @extend .pe-4;
    @extend .dropdown-toggle;
    @extend .text-secondary-emphasis;
    @extend .fw-bold;
    @extend .rounded;
    //background-color: #343a40;
    font-size: 0.8rem;
    white-space: normal;
    position: relative;

    &:hover, &:focus {
      transition: all 0.3s;
      color: #7386D5 !important;
      background: #fff !important;
    }
  }

  .#{$prefix}-nav-link-toplevel.active > a {
    color: #7386D5 !important;
    background: #fff !important;
  }

  .#{$prefix}-nav-toplevel > a {
    &::after {
      content: '\F229'; // caret-down
      font-family: 'bootstrap-icons';
      border: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
    }

    &[aria-expanded="true"]::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .#{$prefix}-nav-link-toplevel > a {
    &::after {
      content: none;
    }
  }

  .#{$prefix}-nav-secondlevel li {
    > a {
      @extend .px-2;
      @extend .text-secondary-emphasis;
      font-size: 0.75em;
    }

    &.active > a, &:hover > a {
      color: #7386D5 !important;
    }

    &.active > a {
      @extend .fw-bold;
    }

    &.#{$prefix}-pdf-link > a {

      &:before {
        @include icon('\F63E\00a0'); // pdf
      }
    }
  }
}



