// ----------------------------------
// Contributor
// ----------------------------------

.contributor {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .mb-4;

  img {
    @extend .rounded-circle;
    @extend .border;
    @extend .border-light-subtle;
    @extend .me-2;
    width: 4rem;
    height: 4rem;
  }

  .contributor-info {
    @extend .rounded-3;
    @extend .w-100;
    @extend .p-2;
    background-color: $gray-100;

    h3 {
      @extend .m-0;
      font-size: 0.875rem;
    }

    p {
      @extend .m-0;
      font-size: 0.875rem;
      color: $gray-600;
    }
  }
}