// ----------------------------------
// Preuve
// ----------------------------------

// Base class
.preuve {
  @extend .my-2;
  min-width: 0 !important;

  // Button class
  .preuve-button {
    @extend .btn;
    @extend .d-flex;
    @extend .mt-2;
    @extend .rounded-3;
    @extend .fst-italic;
    @extend .text-black;
    @extend .pt-1;
    @extend .pb-4;
    @extend .border-0;
    font-size: $font-size;
    height: 15px;
    background-color: #d0e5e7;

    // Pseudo-element
    &:before {
      @extend .fst-normal;
      content: '\F282 \00a0'; // chevron-down & space
      font-family: 'bootstrap-icons';
    }

    &[aria-expanded="true"]:before {
      content: '\F286 \00a0'; // chevron-up & space
    }

    // Hover state
    &:hover {
      background-color: #add8e6;
    }

    // Active state
    &:first-child:active {
      background-color: #99cde5;
    }
  }

  // Card class
  .preuve-card {
    @extend .card;
    @extend .card-body;
    @extend .m-0;
    @extend .p-1;
    @extend .border;
    @extend .rounded-2;
    @extend .d-block;

    // Pseudo-element
    &:after {
      content: '\F584'; // square
      font-family: 'bootstrap-icons';
      @extend .position-absolute;
      right: 10px;
      bottom: 5px;
    }
  }
}
