// ----------------------------------
// Modal for questions
// ----------------------------------

@import "../utils/icon";

.question-modal {
  //@extend .fade;

  .modal-footer {
    @extend .py-2;
  }

  .question-modal-title {
    @extend .modal-title;
    @extend .fs-5;
  }

  .question-modal-title-badge {
    @extend .badge;
    @extend .bg-secondary;
    @extend .mx-1;
    position: relative;
    bottom: .125rem;
  }

  .new-question-button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;

    &:before {
      @include icon('\F4CA');
      @extend .me-1;
    }
  }

  .question-card {
    @extend .card;
    @extend .border-0;
    cursor: pointer;

    &:hover {
      @extend .bg-light;
    }

    .question-body {
      @extend .card-body;
    }

    .question-header, .question-footer {
      @extend .d-flex;
      @extend .justify-content-between;
    }

    .question-title {
      @extend .d-inline;
      @extend .fs-6;
      @extend .m-0;
      @extend .me-2;
    }

    .resolved-question {
      @extend .d-inline;
      @extend .text-success;

      &:before {
        @include icon('\F633');
      }
    }

    .question-author-date {
      @extend .me-2;
    }

    .question-author, .question-date {
      @extend .d-inline;
      @extend .px-0;
    }

    .question-author {
      @extend .me-2;
    }

    .question-comments-likes {
      @extend .text-end;
      @extend .text-secondary;
    }

    .question-comments {
      @extend .d-inline;
      @extend .me-2;

      &:before {
        @include icon('\F24B');
        @extend .me-1;
      }
    }

    .question-likes {
      @extend .d-inline;

      &:before {
        @include icon('\F415');
        @extend .me-1;
      }
    }
  }

  .question-card-placeholder {
    @extend .mb-1;
    @extend .p-3;
  }
}