// ----------------------------------
// Tooltip
// ----------------------------------

@import "../utils/icon";

.quiz-tooltip {
  @extend .d-none;
  font-style: normal;
  text-decoration: none;

  &:before {
    @include icon('\F430', $black);
  }

  &.tooltip-show {
    @extend .d-inline;
  }
}

.tooltip-inner {
  text-align: justify;
  max-width: 600px;
}