// ----------------------------------
// Vidéo
// ----------------------------------

@import "../utils/icon";

// Variables
$video-font-size: $font-size;

.video {
  @extend .my-2;

  &.semestre > .video-button {
    background: #ad84f45e;
  }

  & > div {
    @extend .mx-auto;
    max-width: 1000px;
  }

  .video-button {
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .d-block;
    @extend .mt-2;
    @extend .rounded-3;
    @extend .text-start;
    @extend .fw-bold;
    @extend .text-black;
    @extend .border-0;
    background: #f8f4ff;
    font-size: $video-font-size;

    &:before {
      @include icon('\F282 \00a0\00a0 \F4F0 \00a0\00a0'); // chevron-down & camera
    }

    &[aria-expanded="true"]:before {
      @include icon('\F286 \00a0\00a0 \F4F0 \00a0\00a0');// chevron-up & camera
    }

    &:hover {
      background-color: #fcb4c2;
    }

    &:first-child:active {
      background-color: #faa0aa;
    }
  }

  .plyr {
    @extend .w-100;
    @extend .rounded-2;
    @extend .mx-auto;
  }
}